USE [DreamyShop]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 10/29/2024 11:03:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fullname] [nvarchar](100) NULL,
	[username] [varchar](100) NULL,
	[password] [varchar](100) NULL,
	[email] [varchar](100) NULL,
	[isAdmin] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryGame]    Script Date: 10/29/2024 11:03:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryGame](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nameCategory] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Configuration]    Script Date: 10/29/2024 11:03:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Configuration](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[OS] [varchar](1000) NULL,
	[Processor] [varchar](1000) NULL,
	[Memory] [varchar](1000) NULL,
	[Graphics] [varchar](1000) NULL,
	[Storage] [nvarchar](1000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Game]    Script Date: 10/29/2024 11:03:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Game](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nameGame] [nvarchar](100) NULL,
	[imageGame] [varchar](1000) NULL,
	[price] [money] NULL,
	[cateId] [int] NULL,
 CONSTRAINT [PK_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Infomation]    Script Date: 10/29/2024 11:03:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Infomation](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[imageGame1] [varchar](1000) NULL,
	[imageGame2] [varchar](1000) NULL,
	[imageGame3] [varchar](1000) NULL,
	[imageGame4] [varchar](1000) NULL,
	[description] [nvarchar](1000) NULL,
	[Video] [varchar](1000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InforPS]    Script Date: 10/29/2024 11:03:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InforPS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[imagePS1] [varchar](1000) NULL,
	[imagePS2] [varchar](1000) NULL,
	[imagePS3] [varchar](1000) NULL,
	[description] [nvarchar](1000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InforTB]    Script Date: 10/29/2024 11:03:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InforTB](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[imageTB1] [varchar](1000) NULL,
	[imageTB2] [varchar](1000) NULL,
	[imageTB3] [varchar](1000) NULL,
	[description] [nvarchar](1000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PS]    Script Date: 10/29/2024 11:03:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[namePS] [nvarchar](100) NULL,
	[imagePS] [varchar](1000) NULL,
	[pricePS] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB]    Script Date: 10/29/2024 11:03:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nameTB] [nvarchar](100) NULL,
	[imageTB] [varchar](1000) NULL,
	[priceTB] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([id], [fullname], [username], [password], [email], [isAdmin]) VALUES (1, N'Trần Minh An', N'anxemer', N'130224', N'anxemer224@mail.com', 1)
INSERT [dbo].[Account] ([id], [fullname], [username], [password], [email], [isAdmin]) VALUES (2, N'Trần Bình Minh', N'minh', N'1234', N'minhtran4@mail.com', 0)
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[CategoryGame] ON 

INSERT [dbo].[CategoryGame] ([id], [nameCategory]) VALUES (1, N'Sinh Tồn')
INSERT [dbo].[CategoryGame] ([id], [nameCategory]) VALUES (2, N'Thế Giới Mở')
INSERT [dbo].[CategoryGame] ([id], [nameCategory]) VALUES (3, N'Phiêu Lưu')
SET IDENTITY_INSERT [dbo].[CategoryGame] OFF
GO
SET IDENTITY_INSERT [dbo].[Configuration] ON 

INSERT [dbo].[Configuration] ([id], [OS], [Processor], [Memory], [Graphics], [Storage]) VALUES (1, N'Windows 10', N'Intel® Core™ i5 or AMD Ryzen™ 5', N'8 GB RAM', N'NVIDIA® GeForce® GTX 1060 or AMD Radeon™ RX 480', N'10 GB available space')
INSERT [dbo].[Configuration] ([id], [OS], [Processor], [Memory], [Graphics], [Storage]) VALUES (2, N'Windows 10 64 bit', N'Intel Core i5 - i7 Quad Core', N'16 GB RAM', N'NVIDIA Geforce GTX 750Ti / AMD Radeon R9 270x', N'10 GB available space')
INSERT [dbo].[Configuration] ([id], [OS], [Processor], [Memory], [Graphics], [Storage]) VALUES (3, N'Windows 10 64-bit', N'Ryzen 5 3600, Core i7-8700', N'16 GB RAM', N'Radeon RX5700 (8GB), GeForce RTX 2070 (8GB)', N'50 GB available space')
SET IDENTITY_INSERT [dbo].[Configuration] OFF
GO
SET IDENTITY_INSERT [dbo].[Game] ON 

INSERT [dbo].[Game] ([id], [nameGame], [imageGame], [price], [cateId]) VALUES (1, N'Blood Field | Cỏ Máu', N'https://cdn.akamai.steamstatic.com/steam/apps/1673000/header.jpg?t=1688054627', 99000.0000, 5)
INSERT [dbo].[Game] ([id], [nameGame], [imageGame], [price], [cateId]) VALUES (2, N'DAVE THE DIVER', N'https://cdn.cloudflare.steamstatic.com/steam/apps/1868140/header.jpg?t=1688619744', 234000.0000, 3)
INSERT [dbo].[Game] ([id], [nameGame], [imageGame], [price], [cateId]) VALUES (3, N'Need for Speed™ Unbound', N'https://cdn.cloudflare.steamstatic.com/steam/apps/1846380/header.jpg?t=1687458828', 327000.0000, 8)
SET IDENTITY_INSERT [dbo].[Game] OFF
GO
SET IDENTITY_INSERT [dbo].[Infomation] ON 

SET IDENTITY_INSERT [dbo].[Infomation] OFF
GO
SET IDENTITY_INSERT [dbo].[InforPS] ON 

SET IDENTITY_INSERT [dbo].[InforPS] OFF
GO
SET IDENTITY_INSERT [dbo].[InforTB] ON 

SET IDENTITY_INSERT [dbo].[InforTB] OFF
GO
SET IDENTITY_INSERT [dbo].[PS] ON 

INSERT [dbo].[PS] ([id], [namePS], [imagePS], [pricePS]) VALUES (1, N'Nintendo Switch – OLED Model The Legend of Zelda™: Tears of the Kingdom Edition', N'https://assets.nintendo.com/image/upload/ar_16:9,c_lpad,w_801/b_white/f_auto/q_auto/ncom/My%20Nintendo%20Store/EN-US/Hardware/nintendo-switch-oled-model-the-legend-of-zelda-tears-of-the-kingdom-edition-112870/112870-legend-of-zelda-tears-of-the-kingdom-switch-oled-special-edition-package-1200x675', 3000.0000)
INSERT [dbo].[PS] ([id], [namePS], [imagePS], [pricePS]) VALUES (2, N'Nintendo Switch - OLED Model White set', N'https://assets.nintendo.com/image/upload/ar_16:9,c_lpad,w_801/b_white/f_auto/q_auto/ncom/en_US/products/hardware/nintendo-switch-oled-model-white-set/115461-switch-oled-white-boxart-1200x675', 6000.0000)
INSERT [dbo].[PS] ([id], [namePS], [imagePS], [pricePS]) VALUES (3, N'Nintendo Switch Lite - Yellow', N'https://assets.nintendo.com/image/upload/ar_16:9,c_lpad,w_801/b_white/f_auto/q_auto/ncom/en_US/products/hardware/nintendo-switch-lite-yellow/110678-nintendo-switch-lite-yellow-package-1200x675', 5000.0000)
SET IDENTITY_INSERT [dbo].[PS] OFF
GO
SET IDENTITY_INSERT [dbo].[TB] ON 

INSERT [dbo].[TB] ([id], [nameTB], [imageTB], [priceTB]) VALUES (1, N'SUPER MARIO 3D ALL STARS CHO NINTENDO SWITCH', N'https://product.hstatic.net/1000231532/product/super_mario_3d_all_stars_nintendo_switch_c0b89d02d73644b3b123881348feea24_master.jpg', 1250.0000)
INSERT [dbo].[TB] ([id], [nameTB], [imageTB], [priceTB]) VALUES (2, N'The Legend of Zelda™: Tears of the Kingdom', N'https://assets.nintendo.com/image/upload/ar_16:9,c_lpad,w_801/b_white/f_auto/q_auto/ncom/software/switch/70010000063714/276a412988e07c4d55a2996c6d38abb408b464413b2dfeb44d2aa460b9f622e1', 9900.0000)
INSERT [dbo].[TB] ([id], [nameTB], [imageTB], [priceTB]) VALUES (3, N'Metroid Prime™ Remastered', N'https://assets.nintendo.com/image/upload/ar_16:9,c_lpad,w_801/b_white/f_auto/q_auto/ncom/software/switch/70010000063709/32b85837beea0eee31220a59e247219662de4011f7a8c18fce61cf99a4933eb7', 5500.0000)
SET IDENTITY_INSERT [dbo].[TB] OFF
GO
ALTER TABLE [dbo].[Configuration]  WITH CHECK ADD FOREIGN KEY([id])
REFERENCES [dbo].[Game] ([id])
GO
ALTER TABLE [dbo].[Game]  WITH CHECK ADD FOREIGN KEY([cateId])
REFERENCES [dbo].[CategoryGame] ([id])
GO
ALTER TABLE [dbo].[Infomation]  WITH CHECK ADD FOREIGN KEY([id])
REFERENCES [dbo].[Game] ([id])
GO
ALTER TABLE [dbo].[InforPS]  WITH CHECK ADD FOREIGN KEY([id])
REFERENCES [dbo].[PS] ([id])
GO
ALTER TABLE [dbo].[InforTB]  WITH CHECK ADD FOREIGN KEY([id])
REFERENCES [dbo].[TB] ([id])
GO
